fastapi
uvicorn[standard]
celery[redis]
redis
pandas
supabase
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
pydantic
aiofiles
google-generativeai
requests
pillow
aiohttp
tqdm
